@import '../../constants';

.Stats {
  .range {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    .prev,
    .next {
      font-size: 12px;
      color: $color-text-light;
    }

    .date {
      margin: 0 16px;
      font-size: 24px;
    }
  }

  .selector {

  }
}
