@import '../../constants';

.WalletTab {
  display: flex;
  flex-direction: column;

  .label {
    margin-bottom: 8px;
  }

  .balance {
    font-size: 40px;
    margin-bottom: 16px;
    font-weight: 700;
  }

  .card {
    align-self: center;
    margin-bottom: 16px;
  }

  .buttons {
    display: flex;
    margin-bottom: 16px;

    .button {
      flex: 1;

      & + .button {
        margin-left: 16px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;

    .header {
      font-size: 12px;
      margin-bottom: 8px;
      margin-top: 12px;

      &:first-child {
        margin-top: 0;
      }
    }

    .requests {
      display: flex;
      flex-direction: column;
    }

    &:empty:after {
      display: flex;
      align-items: center;
      justify-content: center;
      content: 'Your transactions will show up here.';
      font-size: 14px;
      color: $color-text-light;
    }
  }
}
