@import '../../constants';

.StatsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary-light;
  border-radius: 8px;
  padding: 24px;

  & + .StatsCard {
    margin-top: 16px;
  }

  .header {
    display: flex;
    margin-bottom: 16px;

    .icon {
      margin-right: 8px;
    }

    .title {
      font-weight: 700;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
