@import '../../constants';

.SignUp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .banner {
    align-self: center;
    margin-top: 48px;
    margin-right: 48px;
    width: 260px;
  }

  .content {
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.error {
      input,
      select {
        border: 1px solid $color-negative;
      }
    }

    .primary {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .secondary {
      font-size: 18px;
      margin-bottom: 32px;
    }

    > .row,
    > .input {
      align-self: stretch;

      & + .row,
      & + .input {
        margin-top: 16px;
      }
    }

    .row {
      display: flex;

      .input {
        flex: 1;

        & + .input {
          margin-left: 16px;
        }
      }
    }

    .button {
      margin-top: 32px;
      margin-bottom: 16px;
    }

    .link {
      cursor: pointer;
      font-size: 14px;

      .underline {
        text-decoration: underline;
      }
    }
  }
}
