@import '../../constants';

.Welcome {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .floats {
    position: relative;
    height: 256px;

    img {
      position: absolute;
      transform: translate(-50%, -50%) scale(.5);
      animation: floating 3s ease-in-out infinite alternate;

      @keyframes floating {
        0% {
          transform: translate(-50%, -52%) scale(.5);
        }
        100% {
          transform: translate(-50%, -48%) scale(.5);
        }
      }
    }

    .float_0 {
      left: 16%;
      top: 36%;
      animation-delay: -1.5s;
    }

    .float_1 {
      left: 28%;
      top: 72%;
      animation-delay: -1s;
    }

    .float_2 {
      left: 64%;
      top: 48%;
      animation-delay: -.5s;
    }

    .float_3 {
      left: 84%;
      top: 84%;
    }
  }

  .moo {
    align-self: center;
    width: 193px;
  }

  .content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .primary {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .secondary {
      font-size: 18px;
      margin-bottom: 32px;
    }

    .signUp {
      margin-bottom: 16px;
    }

    .signIn {

    }
  }
}
