@import '../../constants';

.ProfileSettingsModal {
  display: flex;
  flex-direction: column;
  align-items: center;

  .picture {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 16px;
  }

  .button {
    margin-top: 32px;
    margin-bottom: 16px;
  }

  .signOut {
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
  }
}
