$color-primary: #2966F6;
$color-primary-light: #F4F7FF;

$color-border: #DDE0E2;

$color-text: #0B121B;
$color-text-light: #959DA5;

$color-red: #FFA6AE;
$color-yellow: #FFE999;
$color-green: #91DEA2;

$color-negative: #D62727;
$color-positive: #37AE6E;

@mixin shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

$onEnter: '&.enter:not(.enterActive)';
$onEnterDone: '&.enterDone';
$onExit: '&.exit';
$onTransition: '#{$onEnter}, #{$onExit}';
$transition: '&.enterActive, &.exit';

@mixin responsiveWrap($space-between) {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$space-between;
  margin-top: -$space-between;

  > * {
    margin-left: $space-between;
    margin-top: $space-between;
  }
}
