@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import '~normalize.css/normalize.css';
@import './constants';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
input,
select {
  font-family: inherit;
  color: inherit;
  border: none;
  outline: none;
  font-size: 14px;
  height: 40px;
  background: $color-primary-light none;
  border-radius: 4px;
  padding: 0 16px;
  min-width: 0;

  &::placeholder {
    color: $color-text-light;
  }
}

* {
  flex-shrink: 0;
}

*:not(svg) {
  box-sizing: border-box;
}

b {
  font-weight: 700;
}

@media (min-width: 512px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: $color-border;

    &:after {
      @include dropShadow;
      content: '';
      position: absolute;
      z-index: 999;
      width: 404px;
      height: 840px;
      background-image: url(./assets/iphone_frame.png);
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
      border-radius: 46px;
    }
  }

  #root {
    z-index: 0;
    width: 376px;
    height: 812px;
    position: relative;
    background-color: white;
  }
}
