@import '../../constants';

.ProfileInputGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;

  .divider {
    margin: 16px 0;
    border-bottom: 1px solid $color-primary-light;
  }
}
