@import '../../constants';

.PayOrRequest {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.error {
    input {
      border: 1px solid $color-negative;
    }
  }

  input {
    align-self: stretch;

    & + input {
      margin-top: 16px;
    }
  }

  .categorySelector {
    padding: 24px 0;
  }
}
